<html lang="fr" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">


    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />

    <title>
        {% block title %} Office de tourisme Ile de Ré {% endblock %}
    </title>


    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/sticky-footer.css') }}" rel="stylesheet">

    <!-- Style Theme -->
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet">


    <meta name="theme-color" content="#7952b3">


    <style>
        {% block style %}
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        {% endblock %}
    </style>
</head>

<body class="d-flex flex-column h-100">

<!-- Begin page content -->
{% include 'main/header.html.twig' %}
<main class="flex-shrink-0">
    {% block content %}
        <div class="container">
            <h1 class="mt-5">Sticky footer</h1>
            <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and
                CSS.</p>
            <p>Use <a href="/docs/5.1/examples/sticky-footer-navbar/">the sticky footer with a fixed navbar</a> if need
                be,
                too.</p>
        </div>
    {% endblock %}
</main>
{% include 'main/footer.html.twig' %}


<!-- Script Page -->
<script src="{{ asset('js/bootstrap.bundle.js') }}"></script>
<script src="{{ asset('js/scripts.js') }}"></script>
</body>
</html>