{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}
{% block content %}
    <section class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Heading-->
            <h2 class= "text-uppercase mb-4">Choix du conseiller</h2>
            <br>
            <div class="row d-flex justify-content-sm-around mt-4">
                    {% for conseillers in conseiller %}
                        <div class="col">
                            <a style="text-decoration: none;" href="{{ path('formRDV', {'lg': lan, 'idCreneau': idCren,'idConseiller' : conseillers.id} ) }}">
                                <img style="width: 55%" class="img-fluids" src="{{ asset('img/profile.png') }}" alt="image conseiller"/>
                                <h3 class="text-center fw-bold text-white mt-4">{{ conseillers.nom }} {{ conseillers.prenom }}</h3>
                                <p style="text-decoration: none; color: white;">{{ conseillers.specialite }}</p>
                            </a>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}


